$color: green;

@media(min-width:640px){
    body{
        background-color: red;
        font-size: 20px;
    }
}

@media(max-width:400px){
    body{
    background-color: green;
    font-size:10px;
    }
}
// div{
//     > ol{
//         font-size: 19px;
//         color: $color;
//     }
//     > ul {
//       font-size: 5px;
//       color: $color;
//     };
// }
